body {
    background-color: #fff; /* Color de fondo claro */
    color: #000; /* Color de texto claro */
    transition: background-color 0.3s ease; /* Animación de transición */
  }
  
  .dark-mode {
    background-color: #000; /* Color de fondo oscuro */
    color: #fff; /* Color de texto oscuro */
  }
  